<!DOCTYPE html>
<html>
    {% include "includes/head.html.twig" %}
    <body>
        <div class="container">
            {% include "includes/nav.html.twig" %}
            {% include "includes/header.html.twig" %}
            {% include "includes/flash-messaging.html.twig" %}
            {% block content %}{% endblock %}
            {% include "includes/footer.html.twig" %}
        </div>
        {% include "includes/scripts.html.twig" %}
    </body>
</html>
