<!DOCTYPE html>
<html>
    {% include "includes/head.html.twig" %}
    <body>
        <div class="app">
            <div class="container">
                {% include "includes/header.html.twig" %}
                {% include "includes/nav.html.twig" %}
                {% include "includes/flash-messaging.html.twig" %}
                {% block content %}{% endblock %}
                <br>
                {% include "includes/footer.html.twig" %}
            </div>
        </div>
        {% include "includes/scripts.html.twig" %}
    </body>
</html>
