$fa-font-path: "/resources/fonts/";
$primary-color-dark: #512DA8;
$primary-color: #673AB7;
$primary-color-light: #D1C4E9;
$primary-color-text: #FFFFFF;
$accent-color: #03A9F4;
$primary-text-color: #212121;
$secondary-text-color: #727272;
$divider-color: #B6B6B6;