<div class="container">
    <header>
        <h1>Status</h1>
    </header>
    <hr>
    <div class="row">
        <div class="col-sm-4">
            One of three columns
        </div>
        <div class="col-sm-4">
            One of three columns
        </div>
        <div class="col-sm-4">
            One of three columns
        </div>
    </div>
    <hr>
    <footer>
        Copyright &copy; {{ currentYear }}
    </footer>
</div>