<!-- Message -->
{% for flash_message in app.session.flashbag.get("message") %}
    <div class="alert alert-info" role="alert">{{ flash_message }}</div>
{% endfor %}

<!-- Success -->
{% for flash_message in app.session.flashbag.get("success") %}
    <div class="alert alert-success" role="alert">{{ flash_message }}</div>
{% endfor %}

<!-- Error -->
{% for flash_message in app.session.flashbag.get("error") %}
    <div class="alert alert-danger" role="alert">{{ flash_message }}</div>
{% endfor %}

<!-- Status -->
{% for flash_message in app.session.flashbag.get("warning") %}
    <div class="alert alert-warning" role="alert">{{ flash_message }}</div>
{% endfor %}
