<footer>
     <p>Made with <i class="fa fa-heart pink-text"></i> by <a href="mailto:hello@amitd.co">Amit Dhamu</a>. Hosted by <a href="https://www.digitalocean.com/?refcode=0063231254b8">Digital Ocean</a>.<br>&copy; {{ currentYear }}. All rights reserved.</p>
</footer>