<header>
    <div class="container">
        <p><i class="fa fa-chart-area"></i> <strong>Status</strong>
        &nbsp;&nbsp;A friendly &amp; simple status monitor for UNIX systems.</p>
    </div>
</header>