<div class="row">
    <div class="col-sm-2">
        <p><strong>Name</strong></p>
        <p><strong>Date</strong></p>
        <p><strong>Uptime</strong></p>
    </div>
    <div class="col-sm-10">
        <p>{{ machineName }}</p>
        <p>{{ timestamp }}</p>
        <p>{{ uptime }}</p>
    </div>
</div>
<br>