{% extends "base.html.twig" %}

{% block content %}
    <p>A friendly status monitor to show service status and uptime for web services.</p>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <legend>What's New</legend>
        </div>
        <div class="col-sm-6">
            foo
        </div>
        <div class="col-sm-6">
            bar
        </div>
    </div>
{% endblock %}
